<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div th:fragment="tweetEdit_contents">
   <div class="mx-auto" style="width: 500px;">
      <div class="page-header">
        <h1 class="text-center">お悩み投稿編集</h1>
      </div>
      <label class="text-info" th:text="${result}">結果表示</label>
      <form method="post" th:action="@{/tweetEdit}" th:object="${tweetForm}">
        <div class="form-group">
          <input class="form-control"  type="hidden" th:field="*{id}"></input>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" th:field="*{text}"></textarea>
          <span class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">
	        text error
	      </span>          
        </div>
       <div class="form-group">
          <label for="checkboxCharacter"></label></br>
          <span class="text-danger" th:if="${#fields.hasErrors('characterId')}" th:errors="*{characterId}">
	       characterId error
	      </span></br>
	      <div class="form-check form-check-inline" th:each="character: ${characters}">
	        <input class="form-check-input" type="radio" id="inlineRadio1" th:value="${character.id}" th:field="*{characterId}">
	        <label class="form-check-label" th:text="${character.kind}"></label>
	     </div>	     
       </div>              
       <button class="btn btn-primary" type="submit" name="update">
         編集
       </button>
       <button class="btn btn-primary" type="submit" name="delete">
         削除
	       </button>
      </form>
      
      <table class="table">
		  <thead>
		    <tr>
		      <th scope="col">コメント一覧</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr  th:each="comment: ${comments}">
		      <td th:text="${comment.text}" />
		      <td>
			      <a class="btn btn-primary" th:href="@{'/commentEdit/' + ${comment.id}}" role="button">編集</a>  
		      </td>  		           
		    </tr>
		  </tbody>
	   </table>
    </div>
  </div>

</body>
</html>