<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Myお悩み相談</title>
</head>
<body>
  <div th:fragment="userTweet_contents">
    <label class="text-info" th:text="${result}">結果表示</label>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Myお悩み投稿</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr  th:each="tweet: ${tweets}">
	     <td th:each="chara: ${charas}"   th:if="${tweet.characterId} == ${chara.id}" >
	      <a th:href="@{'/charaTweet/' + ${chara.id}}" th:text="${chara.kind}"></a>
	     </td>
	     <td>
	       <a th:href="@{'/tweetDetail/' + ${tweet.id}}" th:text="${tweet.text}"></a>
	     </td>
	    </tr>
	  </tbody>
	</table>
  </div>
</body>
</html>