<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Myお悩み相談</title>
</head>
<body>
  <div th:fragment="userTweet_contents">
    <label class="text-info" th:text="${result}">結果表示</label>
    <div class="mx-auto" style="width: 300px;">
      <h2>Myお悩み投稿</h2>
    </div>
	<table class="table">
	  <tbody>
	    <tr  th:each="tweet: ${tweets}">
	     <td th:each="chara: ${charas}"   th:if="${tweet.characterId} == ${chara.id}" >
	      <a class="text-secondary" th:href="@{'/charaTweet/' + ${chara.id}}" th:text="${chara.kind}"></a>
	     </td>
	     <td>
	       <a class="text-dark" th:href="@{'/tweetDetail/' + ${tweet.id}}" th:text="${tweet.text} + ・・・"></a>
	     </td>
	    </tr>
	  </tbody>
	</table>
  </div>
</body>
</html>