<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリーごとの投稿一覧</title>
</head>
<body>
  <div th:fragment="charaTweet_contents">
  	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col" th:text="${chara.kind}"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr  th:each="tweet: ${tweets}">
	     <td>
	       <a class="text-dark" th:href="@{'/tweetDetail/' + ${tweet.id}}" th:text="${tweet.text} + ・・・"></a>	
	     </td>      
	    </tr>
	  </tbody>
	</table>
  </div>

</body>
</html>