<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="description" content="性格相談できるサイト">  
  <title>ホーム</title>
</head>
<body>
	<div th:fragment="home_contents">
	  <div class="home-content wrapper">
	    <article>	    
	      <header>
	        <h2>最新の投稿</h2>
	      </header>
	      <ul>
	       <li th:each="tweet: ${tweets}">
	         <a th:href="@{'/tweetDetail/' + ${tweet.id}}" th:text="${tweet.text} + ・・・"></a>
	       </li>
	      </ul>
	    </article>
	    <aside>
	      <h3>カテゴリー</h3>
	        <ul>
	          <li th:each="chara: ${charas}">
	            <a th:href="@{'/charaTweet/' + ${chara.id}}" th:text="${chara.kind}" ></a>     
	          </li>
	        </ul>
	    </aside>  
	  </div>
	  
	  
	  
<!-- 	  <div class="card-columns">
	  <div class="card" style="width: 18rem; height: 14rem;" th:each="chara: ${charas}">
	    <div class="card-body">
		  <a class="navbar-brand text-secondary" th:href="@{'/charaTweet/' + ${chara.id}}" th:text="${chara.kind}" ></a>    
		  <h6 class="card-subtitle mb-2 text-muted">最新の投稿</h6>
		  <div th:each="tweet: ${tweets}">
		  <a th:href="@{'/tweetDetail/' + ${tweet.id}}" class="card-link text-dark" th:if="${chara.id} == ${tweet.characterId}" th:text="${tweet.text} + ・・・">Card link</a> 
		  </div>
	    </div>
	 </div>
	 </div> -->
	 </div>
</body>
</html>