<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  
  <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
  rel="stylesheet"></link>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
  
  <title>ホーム</title>
</head>
<body>
	<div th:fragment="home_contents">
	  <div class="mx-auto" style="width: 200px;">
	    <h1>お悩み一覧</h1>
	  </div>
	  <div class="container container-m">
	  <div class="card-columns">
	  <div class="card" style="width: 18rem; height: 14rem;" th:each="chara: ${charas}">
	    <div class="card-body">
		  <a class="navbar-brand text-secondary" th:href="@{'/charaTweet/' + ${chara.id}}" th:text="${chara.kind}" ></a>    
		  <h6 class="card-subtitle mb-2 text-muted">最新の投稿</h6>
		  <div th:each="tweet: ${tweets}">
		  <a th:href="@{'/tweetDetail/' + ${tweet.id}}" class="card-link text-dark" th:if="${chara.id} == ${tweet.characterId}" th:text="${tweet.text} + ・・・">Card link</a> 
		  </div>
	    </div>
	 </div>
	 </div>
	 </div>
	</div>
</body>
</html>